@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --RepasRed:   #Ea5548;
  --RepasBlue:  #494B8B; 
  --RepasGrey:  #e4ddd8; 
  /*NOTE: Repo logotipo spalva nelabai tinka prie background*/

  --ContentBackground: rgb(247, 247, 247);

  --background: var(--ContentBackground);
  --foreground: var(--RepasBlue);

  --footer-bg-color: #1e293b;
  /*--footer-bg-color: var(--RepasBlue);*/
  --footer-text-color: #ecf0f1; 
}

body {
  color: var(--foreground);
  background: var(--background);

  font-family: 'Poppins';
}
/*To exlarge navbar links on hover*/
@layer utilities {
  .webkit-text-stroke {
    -webkit-text-stroke: 1px var(--RepasRed); /* Adjust the color as needed */
  }
}

footer {
  background-color: var(--footer-bg-color);
  color: var(--footer-text-color);
}
