@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --RepasRed:   #Ea5548;
  --RepasBlue:  #494B8B; 
  --RepasGrey:  #e4ddd8; 
  /*NOTE: Repo logotipo spalva nelabai tinka prie background*/

  --ContentBackground: rgb(247, 247, 247);

  --background: var(--ContentBackground);
  --foreground: var(--RepasBlue);
}

body {
  color: var(--foreground);
  background: var(--background);

  font-family: 'Poppins';
  /*font-family: Arial, Helvetica, sans-serif;*/ /*Old boilerplate fonts*/
}
/*To exlarge navbar links on hover*/
@layer utilities {
  .webkit-text-stroke {
    -webkit-text-stroke: 1px var(--RepasRed); /* Adjust the color as needed */
  }
}